{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact</h1>

    Change lang:
    <ul>
        <li><a href="{{ path('contact_page', {'_locale': 'en'}) }}">Contact en</a></li>
        <li><a href="{{ path('contact_page', {'_locale': 'de'}) }}">Contact de</a></li>
        <li><a href="{{ path('contact_page', {'_locale': 'nl_BE'}) }}">Contact nl_BE</a></li>
        <li><a href="{{ path('contact_page', {'_locale': 'fr_BE'}) }}">Contact fr_BE</a></li>
    </ul>
{% endblock %}