{% extends 'base.html.twig' %}

{% block body %}
    <h1>Home</h1>

    Change lang:
    <ul>
        <li><a href="{{ path('homepage', {'_locale': 'en'}) }}">Homepage en</a></li>
        <li><a href="{{ path('homepage', {'_locale': 'de'}) }}">Homepage de</a></li>
        <li><a href="{{ path('homepage', {'_locale': 'nl_BE'}) }}">Homepage nl_BE</a></li>
        <li><a href="{{ path('homepage', {'_locale': 'fr_BE'}) }}">Homepage fr_BE</a></li>
    </ul>
{% endblock %}